<a href="https://colab.research.google.com/github/caalr11/FisicaComputacional1/blob/master/Actividad3CarlosA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [75]:
url ="https://raw.githubusercontent.com/caalr11/FisicaComputacional1/master/Actividad1/data%20guaymas.txt"
col =  ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'] 
df_tarea = pd.read_csv(url, names=col, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

In [76]:
df_tarea.head()

        Fecha Precip  Evap Tmax Tmin
0  01/02/1967      0  Nulo   20    8
1  02/02/1967      0  Nulo   21    9
2  03/02/1967      0  Nulo   26    8
3  04/02/1967      0  Nulo   25    7
4  05/02/1967      0  Nulo   23    7

In [77]:
print(df_tarea.head(10))
print(df_tarea.tail(10))

        Fecha Precip  Evap Tmax Tmin
0  01/02/1967      0  Nulo   20    8
1  02/02/1967      0  Nulo   21    9
2  03/02/1967      0  Nulo   26    8
3  04/02/1967      0  Nulo   25    7
4  05/02/1967      0  Nulo   23    7
5  06/02/1967      0  Nulo   24    5
6  07/02/1967      0  Nulo   25    7
7  08/02/1967      0  Nulo   27    6
8  09/02/1967      0  Nulo   26    5
9  10/02/1967      0  Nulo   27    4
            Fecha Precip  Evap Tmax Tmin
17869  21/09/2016      0  Nulo   33   22
17870  22/09/2016      0  Nulo   32   22
17871  23/09/2016      0  Nulo   37   23
17872  24/09/2016      0  Nulo   37   21
17873  25/09/2016      0  Nulo   37   20
17874  26/09/2016      0  Nulo   37   20
17875  27/09/2016      0  Nulo   37   20
17876  28/09/2016      0  Nulo   38   20
17877  29/09/2016      0  Nulo   37   24
17878  30/09/2016      0  Nulo   37   21

In [78]:
df_tarea.shape

(17879, 5)

In [79]:
df_tarea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17879 non-null  object
 1   Precip  17879 non-null  object
 2   Evap    17879 non-null  object
 3   Tmax    17879 non-null  object
 4   Tmin    17879 non-null  object
dtypes: object(5)
memory usage: 698.5+ KB

In [80]:
df_ca0 = df_tarea.copy()
df_ca0.tail()

            Fecha Precip  Evap Tmax Tmin
17874  26/09/2016      0  Nulo   37   20
17875  27/09/2016      0  Nulo   37   20
17876  28/09/2016      0  Nulo   38   20
17877  29/09/2016      0  Nulo   37   24
17878  30/09/2016      0  Nulo   37   21

In [81]:
str_Nulo = 'Nulo'
df_ca1 = df_ca0.replace(to_replace=str_Nulo, value='', regex=True)
df_ca1.tail()

            Fecha Precip Evap Tmax Tmin
17874  26/09/2016      0        37   20
17875  27/09/2016      0        37   20
17876  28/09/2016      0        38   20
17877  29/09/2016      0        37   24
17878  30/09/2016      0        37   21

In [82]:
df_ca1.info()
print(df_ca1.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17879 non-null  object
 1   Precip  17879 non-null  object
 2   Evap    17879 non-null  object
 3   Tmax    17879 non-null  object
 4   Tmin    17879 non-null  object
dtypes: object(5)
memory usage: 698.5+ KB
            Fecha Precip Evap Tmax Tmin
17874  26/09/2016      0        37   20
17875  27/09/2016      0        37   20
17876  28/09/2016      0        38   20
17877  29/09/2016      0        37   24
17878  30/09/2016      0        37   21

In [83]:
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_ca1[cols] = pd.to_numeric(df_ca1[cols], errors='coerce')

df_ca1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17879 non-null  object
 1   Precip  17847 non-null  float64
 2   Evap    5731 non-null   float64
 3   Tmax    17823 non-null  float64
 4   Tmin    17828 non-null  float64
dtypes: float64(4), object(1)
memory usage: 698.5+ KB

In [84]:
df_ca1.isnull().sum()

Fecha         0
Precip       32
Evap      12148
Tmax         56
Tmin         51
dtype: int64

In [85]:
print(df_ca1.head())
print(df_ca1.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/02/1967     0.0   NaN  20.0   8.0
1  02/02/1967     0.0   NaN  21.0   9.0
2  03/02/1967     0.0   NaN  26.0   8.0
3  04/02/1967     0.0   NaN  25.0   7.0
4  05/02/1967     0.0   NaN  23.0   7.0
            Fecha  Precip  Evap  Tmax  Tmin
17874  26/09/2016     0.0   NaN  37.0  20.0
17875  27/09/2016     0.0   NaN  37.0  20.0
17876  28/09/2016     0.0   NaN  38.0  20.0
17877  29/09/2016     0.0   NaN  37.0  24.0
17878  30/09/2016     0.0   NaN  37.0  21.0

In [86]:
df_ca1.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  17847.00  5731.00  17823.00  17828.00
mean       0.75     5.98     32.62     15.33
std        5.07     2.60      5.63      6.71
min        0.00     0.10     10.00     -2.00
25%        0.00     4.00     28.00     10.00
50%        0.00     5.80     33.00     14.00
75%        0.00     7.80     37.00     22.00
max      184.10    16.40     48.50     32.00

In [87]:
df_ca2 = df_ca1.copy()

df_ca2['Fecha'].head()

0    01/02/1967
1    02/02/1967
2    03/02/1967
3    04/02/1967
4    05/02/1967
Name: Fecha, dtype: object

In [88]:
df_ca2['Fecha'] = pd.to_datetime(df_ca2['Fecha'], dayfirst=True).copy()
print(df_ca2.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1967-02-01     0.0   NaN  20.0   8.0
1 1967-02-02     0.0   NaN  21.0   9.0
2 1967-02-03     0.0   NaN  26.0   8.0
3 1967-02-04     0.0   NaN  25.0   7.0
4 1967-02-05     0.0   NaN  23.0   7.0

In [89]:
df_ca2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [90]:
df_ca2['A単o'] = df_ca2['Fecha'].dt.year
df_ca2['Mes'] = df_ca2['Fecha'].dt.month

In [91]:
print(df_ca2.head())
print(df_ca2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   A単o  Mes
0 1967-02-01     0.0   NaN  20.0   8.0  1967    2
1 1967-02-02     0.0   NaN  21.0   9.0  1967    2
2 1967-02-03     0.0   NaN  26.0   8.0  1967    2
3 1967-02-04     0.0   NaN  25.0   7.0  1967    2
4 1967-02-05     0.0   NaN  23.0   7.0  1967    2
           Fecha  Precip  Evap  Tmax  Tmin   A単o  Mes
17874 2016-09-26     0.0   NaN  37.0  20.0  2016    9
17875 2016-09-27     0.0   NaN  37.0  20.0  2016    9
17876 2016-09-28     0.0   NaN  38.0  20.0  2016    9
17877 2016-09-29     0.0   NaN  37.0  24.0  2016    9
17878 2016-09-30     0.0   NaN  37.0  21.0  2016    9

In [92]:
df_ca2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   17879 non-null  datetime64[ns]
 1   Precip  17847 non-null  float64
 2   Evap    5731 non-null   float64
 3   Tmax    17823 non-null  float64
 4   Tmin    17828 non-null  float64
 5   A単o     17879 non-null  int64
 6   Mes     17879 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 977.9 KB